{% extends "dashboard/home.html" %}

{% block content %}

<h2>Death Certificate Generated ✅</h2>

<p><strong>Certificate No:</strong> {{ dc.certificate_number }}</p>

<p><strong>Name:</strong> {{ dc.name }}</p>
<p><strong>Aadhaar:</strong> {{ dc.aadhaar }}</p>
<p><strong>Date of Death:</strong> {{ dc.date_of_death }}</p>

<br>

{% if dc.certificate_file %}
    <a href="{{ dc.certificate_file.url }}" target="_blank">
        📄 View Death Certificate PDF
    </a>
{% else %}
    <p style="color:red;">No PDF generated</p>
{% endif %}

<br><br>

<a href="{% url 'upload_certificate' %}">
    📤 Upload Certificate for Verification
</a>

<br><br>

<a href="{% url 'will_detail' pk=dc.will.id %}">
    🔙 Back to Will
</a>

{% endblock %}